/* Estilos generales */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f9;
}

/* Contenedor principal del juego */
#game-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

/* Estilo del título */
h1 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  color: #333;
}

/* Estilo de las instrucciones */
p {
  font-size: 16px;
  color: #555;
}

/* Estilo del campo de entrada */
input[type='number'] {
  padding: 10px;
  font-size: 18px;
  width: 80%;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

/* Estilo del botón de comprobar */
button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

/* Estilo de los mensajes de pista */
p {
  font-size: 16px;
  color: #d9534f;
}

/* Estilo del contador de intentos */
#attempts-text {
  font-size: 16px;
  color: #555;
  color: rgb(0, 0, 221);
}
