@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/* Ppt.css */

body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  background-color: #f0f0f0;
  margin: 0;
}

.contenedor1 {
  text-align: center;
}

#campo-batalla {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  border: solid black;
}

.caja-batala {
  width: 150px;
  height: 150px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#msj-batalla {
  font-size: 24px;
  color: #ff0000;
  margin-top: 20px;
}

.text-mensajes {
  font-size: 18px;
}

h1 {
  font-size: 36px;
  color: #ffffff;
}

h2 {
  font-size: 24px;
  color: #c7ffbc;
}

.btn-ataques {
  width: 100px;
  cursor: pointer;
  margin: 10px;
  border-radius: 60%;
  transition: transform 0.2s;
}

.btn-ataques:hover {
  transform: scale(1.1);
}

.img-batalla {
  width: 100px;
  height: 100px;
}
@media (max-width: 550px) {
  #campo-batalla {
    width: 350px;
    display: flex;
  }
  .contenedor1 {
    margin-top: 80px;
  }
  #campo-batalla {
    width: 300px;
    display: flex;
  }
  .btn-ataques {
    width: 50px;
  }
}
